.main{
    height: 930px;
    background-color: black;
    color: white;
    border-bottom: 10px solid #232323;
}

.main h1{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    padding-top: 3.5rem;
    padding-bottom: 1.5rem;
}

.net{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 5rem;
    background-color: rgb(51, 46, 46);
    margin: 5px;
    margin-left: 8.8rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.net p{
    margin-top: 1rem;
    margin-left: 2rem;
}

.add{
    font-size: 3rem;
    margin-right: 2.5rem;
    margin-bottom: 2.5rem;
}

.read{
    font-size: 1.2rem;
    margin-left: 25rem;
    margin-top: 5rem;
}

.log{
    display: flex;
    margin-left: 27rem;
    margin-top: 1.5rem;
}

.input{
    height: 3.5rem;
    width: 22rem; 
    background: transparent;
    color: white;
    border-radius: 6px;
}

.get{
    height: 3.5rem;
    width: 12rem;
    margin-left: 1rem;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-size: 1.5rem;
    margin-top: 0.3rem;
}

.logo{
    height: 2rem;
    width: 2rem;
}