.container{
    height: 529px;;
    background-color: black;
    display: flex;
    border-bottom: 10px solid #232323;
}

.left{
    width: 50%;
    background-image: url('./images/mobile-1.jpg');
    height: 529px;
    background-position: 9rem;
    background-repeat: no-repeat;
    background-size: 30rem;
}

.box{
    border: 2px solid rgb(62, 59, 60);
    height: 6.5rem;
    width: 16rem;
    border-radius: 10px;
    margin-top: 19.5rem;
    margin-left: 15.8rem;
    background-color: black;
    display: flex;
}

.pic{
    height: 5.5rem;
    width: 3.9rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.both{
    margin-left: 1rem;
}

h4{
    margin-top: 2rem;
    color: white;
}

.para{
    margin-bottom: 2rem;
    color: blue;
}

.icon{
    height: 4rem;
    color: white;
    margin-left: 8rem;
    margin-bottom: 7rem;
}

.download{
    color: white;
    margin-top: 3rem;
    margin-left: 1rem; 
}



.right{
    width: 50%;
    color: white;
}

.three{
    font-size: 48px;
    font-weight: 900;
}

.show{
    margin-left: 3rem;
    margin-top: 6.5rem;
}

.watch{
    margin-left: 3rem;
}

.off{
    margin-left: 2.8rem;
}

.two{
    font-weight: 2rem;
    margin-left: 3rem;
    margin-top: 1rem;
}

.small{
    font-size: 30px;
} 

.next{
    font-size: 30px;
}